<div style="float:right">
  <%= form_tag(home_refresh_path, method: :put) { submit_tag('Refresh calendars', class: 'btn btn-info', disable_with: 'Refreshing ...') } %>
</div>
<h2>Search</h2>
<div class="well">
  <%= form_tag({}, method: :get, id: 'search_dates') do %>
      <div class="clearfix">
        <div class="field">
          <%= label_tag(:start_date) %>
          <%= text_field_tag(:start_date, @range.start_at.strftime('%m/%d/%Y'), class: 'dp') %>
        </div>
        <div class="field">
          <%= label_tag(:end_date) %>
          <%= text_field_tag(:end_date, @range.stop_at.strftime('%m/%d/%Y'), class: 'dp') %>
        </div>
        <div class="field">
          <%= label_tag(:number_of_people) %>
          <%= number_field_tag(:number_of_people, params[:number_of_people] || 2, style: 'width: 30px;') %>
        </div>
      </div>
      <%= submit_tag('Search', class: 'btn btn-primary', name: nil, disable_with: 'Searching ...') %>
      <%= link_to('Clear', home_index_path, class: 'btn') %>
      <p style="margin: 3px 0;color: #666;">
        * Calendars automatically refresh every <%= Calendar::REFRESH_INTERVAL %> hours.
        <% if @calendar.try(:refresh_date) %>
            Last refreshed on
            <span style="color: #000;"><%= @calendar.refresh_date.strftime('%B %d, %Y %l:%M %p') %></span>
        <% end %>
      </p>
  <% end %>
  <% if @units %>
      <h3 style="margin-top: 5px;padding-top: 5px;border-top: 1px solid #CCC;">Openings</h3>

      <% if @units.any? %>
          <% @units.each do |unit| %>
              <%= link_to(unit.name, unit.vrbo_url, class: 'btn btn-large', target: '_blank') %>
          <% end %>
      <% else %>
          <h5>Nothing</h5>
      <% end %>
  <% end %>
</div>
